openapi: 3.0.1
info:
  description: Amazon Advertising API
  title: Amazon Ads API SB
  version: "3.0"
servers:
- description: Production server for NA
  url: https://advertising-api.amazon.com
- description: Production server for EU
  url: https://advertising-api-eu.amazon.com
- description: Production server for FE
  url: https://advertising-api-fe.amazon.com
paths:
  /adsApi/v1/create/adGroups:
    post:
      description: |-
        Create ad groups

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "campaign_edit", "dsp_campaign_edit"]
      operationId: SBCreateAdGroup
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBCreateAdGroupRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdGroupMultiStatusResponse'
          description: SBCreateAdGroup 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - AdGroups
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/create/ads:
    post:
      description: |-
        Create ads

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "creatives_edit"]
      operationId: SBCreateAd
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBCreateAdRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdMultiStatusResponse'
          description: SBCreateAd 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Ads
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/create/campaigns:
    post:
      description: |-
        Create campaigns

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "campaign_edit", "dsp_campaign_edit"]
      operationId: SBCreateCampaign
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBCreateCampaignRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBCampaignMultiStatusResponse'
          description: SBCreateCampaign 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/create/targets:
    post:
      description: |-
        Create target

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "campaign_edit", "dsp_campaign_edit"]
      operationId: SBCreateTarget
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBCreateTargetRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTargetMultiStatusResponse'
          description: SBCreateTarget 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Targets
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/delete/adGroups:
    post:
      description: |-
        Delete ad groups

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: SBDeleteAdGroup
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBDeleteAdGroupRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdGroupMultiStatusResponse'
          description: SBDeleteAdGroup 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - AdGroups
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/delete/ads:
    post:
      description: |-
        Delete ads

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: SBDeleteAd
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBDeleteAdRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdMultiStatusResponse'
          description: SBDeleteAd 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Ads
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/delete/campaigns:
    post:
      description: |-
        Delete campaigns

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: SBDeleteCampaign
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBDeleteCampaignRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBCampaignMultiStatusResponse'
          description: SBDeleteCampaign 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/delete/targets:
    post:
      description: |-
        Delete target

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "campaign_edit", "dsp_campaign_edit"]
      operationId: SBDeleteTarget
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBDeleteTargetRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTargetMultiStatusResponse'
          description: SBDeleteTarget 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Targets
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/query/adGroups:
    post:
      description: "List ad groups\n\n**Requires one of these permissions**:\n[\"\
        advertiser_campaign_edit\", \"dsp_campaign_view\", \"campaign_view\", \n\"\
        advertiser_campaign_view\"]"
      operationId: SBQueryAdGroup
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBQueryAdGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdGroupSuccessResponse'
          description: SBQueryAdGroup 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - AdGroups
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/query/ads:
    post:
      description: |-
        List ads

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "creatives_view", "advertiser_campaign_view"]
      operationId: SBQueryAd
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBQueryAdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdSuccessResponse'
          description: SBQueryAd 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Ads
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/query/campaigns:
    post:
      description: "Query campaign\n\n**Requires one of these permissions**:\n[\"\
        advertiser_campaign_edit\", \"dsp_campaign_view\", \"campaign_view\", \n\"\
        advertiser_campaign_view\"]"
      operationId: SBQueryCampaign
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBQueryCampaignRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBCampaignSuccessResponse'
          description: SBQueryCampaign 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/query/targets:
    post:
      description: "List target\n\n**Requires one of these permissions**:\n[\"advertiser_campaign_edit\"\
        , \"dsp_campaign_view\", \"campaign_view\", \n\"advertiser_campaign_view\"\
        , \"campaign_edit\", \"dsp_campaign_edit\"]"
      operationId: SBQueryTarget
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBQueryTargetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTargetSuccessResponse'
          description: SBQueryTarget 200 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Targets
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/update/adGroups:
    post:
      description: |-
        Update ad groups

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "campaign_edit", "dsp_campaign_edit"]
      operationId: SBUpdateAdGroup
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBUpdateAdGroupRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdGroupMultiStatusResponse'
          description: SBUpdateAdGroup 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - AdGroups
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/update/ads:
    post:
      description: |-
        Update ads

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "creatives_edit"]
      operationId: SBUpdateAd
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBUpdateAdRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBAdMultiStatusResponse'
          description: SBUpdateAd 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Ads
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/update/campaigns:
    post:
      description: |-
        Update campaign

        **Requires one of these permissions**:
        ["advertiser_campaign_edit", "campaign_edit", "dsp_campaign_edit"]
      operationId: SBUpdateCampaign
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBUpdateCampaignRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBCampaignMultiStatusResponse'
          description: SBUpdateCampaign 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts: application/json
  /adsApi/v1/update/targets:
    post:
      description: |-
        Update target

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: SBUpdateTarget
      parameters:
      - description: The identifier of an Amazon Ads Advertiser Account.
        explode: false
        in: header
        name: Amazon-Ads-AccountId
        required: false
        schema:
          type: string
        style: simple
      - description: The identifier of a client associated with a 'Login with Amazon'
          account.
        explode: false
        in: header
        name: Amazon-Ads-ClientId
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        explode: false
        in: header
        name: Amazon-Advertising-API-Scope
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBUpdateTargetRequest'
      responses:
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTargetMultiStatusResponse'
          description: SBUpdateTarget 207 response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
          description: BadRequest 400 response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
          description: Unauthorized 401 response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
          description: Forbidden 403 response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
          description: NotFound 404 response
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
          description: ContentTooLarge 413 response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
          description: TooManyRequests 429 response
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
          description: InternalServerError 500 response
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
          description: BadGateway 502 response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
          description: ServiceUnavailableError 503 response
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
          description: GatewayTimeout 504 response
      security:
      - OAuth2:
        - advertising::campaign_management
      tags:
      - Targets
      x-content-type: application/json
      x-accepts: application/json
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters:
    AccountIdHeaderOptional:
      description: The identifier of an Amazon Ads Advertiser Account.
      explode: false
      in: header
      name: Amazon-Ads-AccountId
      required: false
      schema:
        type: string
      style: simple
    ClientIdHeader:
      description: The identifier of a client associated with a 'Login with Amazon'
        account.
      explode: false
      in: header
      name: Amazon-Ads-ClientId
      required: true
      schema:
        type: string
      style: simple
    ScopeHeaderOptional:
      description: The identifier of a profile associated with the advertiser account.
        Use GET method on Profiles resource to list profiles associated with the access
        token passed in the HTTP Authorization header and choose profile id profileId
        from the response to pass it as input.
      explode: false
      in: header
      name: Amazon-Advertising-API-Scope
      required: false
      schema:
        type: string
      style: simple
  requestBodies: {}
  responses: {}
  schemas:
    BadGatewayResponseContent:
      example:
        code: code
        message: message
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      type: object
    BadRequestResponseContent:
      example:
        code: null
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
      required:
      - code
      - message
      type: object
    ContentTooLargeResponseContent:
      example:
        code: null
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
      required:
      - code
      - message
      type: object
    Error:
      example:
        fieldLocation: fieldLocation
        code: null
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        fieldLocation:
          type: string
        message:
          type: string
      required:
      - code
      - message
      type: object
    ErrorCode:
      description: |-
        | ErrorCode | Description |
        | --- | --- |
        | `INTERNAL_ERROR` | The server encountered an unexpected condition that prevented it from fulfilling the request. |
        | `UNAUTHORIZED` | The request lacks the necessary credentials. |
        | `FORBIDDEN` | The caller is not authorized to make the given request. |
        | `TOO_MANY_REQUESTS` | There have been too many requests, please slow down your call rate. |
        | `CONTENT_TOO_LARGE` | The request is too large. Consider splitting it into multiple requests. |
        | `NOT_FOUND` | The requested resource does not exist. |
        | `BAD_REQUEST` | The request is not valid considering the documented schema. |
        | `CONFLICT` | Operation could not be completed due to a conflict. Please retry your request. |
        | `FEATURE_NOT_AVAILABLE` | The requested feature is not available. |
        | `DUPLICATE_RESOURCE_ID_FOUND` | Multiple resources share the same ID. Remove the duplicate ID. |
        | `DUPLICATE_FIELD_VALUE_FOUND` | Multiple resources share the non-unique field values. Remove the non-unique field value. |
        | `TOTAL_RESOURCE_LIMIT_EXCEEDED` | Too many resources. Remove resources and try again. |
        | `ACTIVE_RESOURCE_LIMIT_EXCEEDED` | Too many live resources. Remove resources and try again. |
        | `ARCHIVED_RESOURCE_CANNOT_EDIT` | Archived resources cannot be edited. |
        | `ARCHIVED_PARENT_CANNOT_CREATE` | New resources cannot be created within an archived parent. |
        | `ARCHIVED_PARENT_CANNOT_EDIT` | Resources within an archived parent cannot be edited. |
        | `ACTION_NOT_SUPPORTED` | The request is not supported. |
        | `FIELD_VALUE_CANNOT_EDIT` | Field value cannot be edited. |
        | `AUTOCREATED_ENTITY_CANNOT_EDIT` | Autocreated entities cannot be edited. To complete this action, create the resource manually. |
        | `RESOURCE_ID_NOT_FOUND` | Resource ID not found. Try again with valid ID. |
        | `FIELD_VALUE_NOT_FOUND` | Resource specified in the field value not found. Try again with valid value. |
        | `FIELD_VALUE_NOT_UNIQUE` | Resource field value conflicts with existing resource. Try again with an unique field value. |
        | `UNSUPPORTED_MARKETPLACE` | Marketplace not supported. Try again with a supported marketplace. |
        | `PAYMENT_ISSUE` | Payment failed. |
        | `PRODUCT_INELIGIBLE` | Product is not eligible for advertising. Try again with a valid product. |
        | `RESOURCE_DOES_NOT_BELONG_TO_PARENT` | Resource does not belong to the specified parent. Try again with a valid parent ID. |
        | `RESOURCE_IS_IN_TERMINAL_STATE` | Resource is in terminal state. |
        | `RESOURCE_IS_NULL` | Update the request with the required information for this resource. |
        | `RESOURCE_IS_EMPTY` | Update the request with the required information for this resource. |
        | `FIELD_VALUE_IS_NULL` | Update the request with the required information for this resource. |
        | `FIELD_VALUE_IS_EMPTY` | Update the request with the required information for this resource. |
        | `FIELD_VALUE_IS_INVALID` | Update the request with the required information for this resource. |
        | `FIELD_VALUE_CONTAINS_INVALID_CHARACTERS` | Remove the invalid characters and try again. |
        | `FIELD_VALUE_MISMATCH` | Mismatch among resource field values. |
        | `FIELD_VALUE_IS_OUT_OF_RANGE` | Update the value to be within the required range. |
        | `FIELD_VALUE_IS_ABOVE_MAXIMUM_LIMIT` | Update the value to be within the required range. |
        | `FIELD_VALUE_IS_BELOW_MINIMUM_LIMIT` | Update the value to be within the required range. |
        | `FIELD_SIZE_IS_ABOVE_MAXIMUM_LIMIT` | Update the value to be within the required range. |
        | `FIELD_SIZE_IS_BELOW_MINIMUM_LIMIT` | Update the value to be within the required range. |
        | `FIELD_SIZE_IS_OUT_OF_RANGE` | Update the value to be within the required range. |
        | `FIELD_VALUE_CONTAINS_BLOCKLISTED_WORDS` | Update the request with the required information for this resource. |
        | `FIELD_VALUE_MUST_BE_EMPTY_OR_NULL` | Update the request with the required information for this resource. |
        | `DATE_CANNOT_BE_IN_PAST` | Update the date to be in the future. |
        | `DATE_CANNOT_BE_NULL` | Update the date. |
        | `DATE_TOO_SOON` | Update the date to be further in the future. |
        | `DURATION_TOO_SHORT` | Update the length to be within the required range. |
        | `FEATURE_DISCONTINUED` | Feature has been discontinued. |
      enum:
      - ACTION_NOT_SUPPORTED
      - ACTIVE_RESOURCE_LIMIT_EXCEEDED
      - ARCHIVED_PARENT_CANNOT_CREATE
      - ARCHIVED_PARENT_CANNOT_EDIT
      - ARCHIVED_RESOURCE_CANNOT_EDIT
      - AUTOCREATED_ENTITY_CANNOT_EDIT
      - BAD_REQUEST
      - CONFLICT
      - CONTENT_TOO_LARGE
      - DATE_CANNOT_BE_IN_PAST
      - DATE_CANNOT_BE_NULL
      - DATE_TOO_SOON
      - DUPLICATE_FIELD_VALUE_FOUND
      - DUPLICATE_RESOURCE_ID_FOUND
      - DURATION_TOO_SHORT
      - FEATURE_DISCONTINUED
      - FEATURE_NOT_AVAILABLE
      - FIELD_SIZE_IS_ABOVE_MAXIMUM_LIMIT
      - FIELD_SIZE_IS_BELOW_MINIMUM_LIMIT
      - FIELD_SIZE_IS_OUT_OF_RANGE
      - FIELD_VALUE_CANNOT_EDIT
      - FIELD_VALUE_CONTAINS_BLOCKLISTED_WORDS
      - FIELD_VALUE_CONTAINS_INVALID_CHARACTERS
      - FIELD_VALUE_IS_ABOVE_MAXIMUM_LIMIT
      - FIELD_VALUE_IS_BELOW_MINIMUM_LIMIT
      - FIELD_VALUE_IS_EMPTY
      - FIELD_VALUE_IS_INVALID
      - FIELD_VALUE_IS_NULL
      - FIELD_VALUE_IS_OUT_OF_RANGE
      - FIELD_VALUE_MISMATCH
      - FIELD_VALUE_MUST_BE_EMPTY_OR_NULL
      - FIELD_VALUE_NOT_FOUND
      - FIELD_VALUE_NOT_UNIQUE
      - FORBIDDEN
      - INTERNAL_ERROR
      - NOT_FOUND
      - PAYMENT_ISSUE
      - PRODUCT_INELIGIBLE
      - RESOURCE_DOES_NOT_BELONG_TO_PARENT
      - RESOURCE_ID_NOT_FOUND
      - RESOURCE_IS_EMPTY
      - RESOURCE_IS_IN_TERMINAL_STATE
      - RESOURCE_IS_NULL
      - TOO_MANY_REQUESTS
      - TOTAL_RESOURCE_LIMIT_EXCEEDED
      - UNAUTHORIZED
      - UNSUPPORTED_MARKETPLACE
      type: string
    ErrorsIndex:
      example:
        index: 80
        errors:
        - fieldLocation: fieldLocation
          code: null
          message: message
        - fieldLocation: fieldLocation
          code: null
          message: message
        - fieldLocation: fieldLocation
          code: null
          message: message
        - fieldLocation: fieldLocation
          code: null
          message: message
        - fieldLocation: fieldLocation
          code: null
          message: message
      properties:
        errors:
          items:
            $ref: '#/components/schemas/Error'
          maxItems: 20
          minItems: 1
          type: array
        index:
          format: int32
          maximum: 999
          minimum: 0
          type: integer
      required:
      - errors
      - index
      type: object
    ForbiddenResponseContent:
      example:
        code: null
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
      required:
      - code
      - message
      type: object
    GatewayTimeoutResponseContent:
      example:
        code: code
        message: message
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      type: object
    InternalServerErrorResponseContent:
      example:
        code: code
        message: message
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
      type: object
    NotFoundResponseContent:
      example:
        code: null
        message: message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
      required:
      - code
      - message
      type: object
    SBAd:
      example:
        activeCreative:
          componentCreative:
            productCollectionSettings:
              untranslatedHeadlines:
              - untranslatedHeadlines
              headlines:
              - headlines
              landingPage:
                landingPageType: null
                landingPageAsins:
                  asins:
                  - asins
                  - asins
                  - asins
                  - asins
                  - asins
                landingPageUrl: landingPageUrl
              creativePropertiesToOptimize:
              - null
              customImages:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              moderationStatus:
                moderationStatus: null
              brandLogos:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brand: brand
              enableCreativeAutoTranslation: true
              products:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
            productVideoSettings:
              untranslatedHeadlines:
              - untranslatedHeadlines
              headlines:
              - headlines
              landingPage:
                landingPageType: null
                landingPageUrl: landingPageUrl
              moderationStatus:
                moderationStatus: null
              videos:
              - assetId: assetId
                assetVersion: assetVersion
              brandLogos:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brand: brand
              untranslatedVideos:
              - assetId: assetId
                assetVersion: assetVersion
              - assetId: assetId
                assetVersion: assetVersion
              enableCreativeAutoTranslation: true
              products:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
            storeSpotlightSettings:
              untranslatedHeadlines:
              - untranslatedHeadlines
              cards:
              - landingPage:
                  landingPageType: null
                  landingPageUrl: landingPageUrl
                headline: headline
                products:
                  productId: productId
                  productIdType: null
              - landingPage:
                  landingPageType: null
                  landingPageUrl: landingPageUrl
                headline: headline
                products:
                  productId: productId
                  productIdType: null
              - landingPage:
                  landingPageType: null
                  landingPageUrl: landingPageUrl
                headline: headline
                products:
                  productId: productId
                  productIdType: null
              headlines:
              - headlines
              landingPage:
                landingPageType: null
                landingPageUrl: landingPageUrl
              creativePropertiesToOptimize:
              - null
              moderationStatus:
                moderationStatus: null
              brandLogos:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brand: brand
              enableCreativeAutoTranslation: true
            manualCollectionSettings:
              landingPage:
                landingPageType: null
                landingPageUrl: landingPageUrl
              productInclusions:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              sharedSettings:
                moderationStatus:
                  moderationStatus: null
                brandLogos:
                  formatProperties:
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  assetId: assetId
                  assetVersion: assetVersion
                brand: brand
            autoCollectionSettings:
              productExclusions:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              sharedSettings:
                moderationStatus:
                  moderationStatus: null
                brandLogos:
                  formatProperties:
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  assetId: assetId
                  assetVersion: assetVersion
                brand: brand
        adProduct: null
        campaignId: campaignId
        marketplaces:
        - null
        adGroupId: adGroupId
        creative: null
        tags:
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        - value: value
          key: key
        adType: null
        adId: adId
        name: name
        lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
        marketplaceScope: null
        state: null
        creationDateTime: 2000-01-23T04:56:07.000+00:00
        status:
          deliveryReasons:
          - null
          - null
          - null
          - null
          - null
          deliveryStatus: null
      properties:
        activeCreative:
          $ref: '#/components/schemas/SBCreative'
        adGroupId:
          description: The ad group associated with the ad.
          type: string
        adId:
          description: The identifier of the ad.
          type: string
        adProduct:
          $ref: '#/components/schemas/SBAdProduct'
        adType:
          $ref: '#/components/schemas/SBAdType'
        campaignId:
          description: The campaign associated with the ad. It's a read-only field.
          type: string
        creationDateTime:
          description: The date time that the ad was created.
          format: date-time
          type: string
        creative:
          $ref: '#/components/schemas/SBCreative'
        lastUpdatedDateTime:
          description: The date time that the ad was last updated.
          format: date-time
          type: string
        marketplaceScope:
          $ref: '#/components/schemas/SBMarketplaceScope'
        marketplaces:
          description: |-
            A list of country codes representing Amazon marketplaces
            | Marketplace | Description |
            | --- | --- |
            | `AE` |  |
            | `AU` |  |
            | `BE` |  |
            | `BR` |  |
            | `CA` |  |
            | `DE` |  |
            | `EG` |  |
            | `ES` |  |
            | `FR` |  |
            | `GB` |  |
            | `IE` |  |
            | `IN` |  |
            | `IT` |  |
            | `JP` |  |
            | `MX` |  |
            | `NL` |  |
            | `PL` |  |
            | `SA` |  |
            | `SE` |  |
            | `SG` |  |
            | `TR` |  |
            | `US` |  |
            | `ZA` |  |
          items:
            $ref: '#/components/schemas/SBMarketplace'
          maxItems: 1
          minItems: 1
          type: array
        name:
          description: The name of the ad.
          type: string
        state:
          $ref: '#/components/schemas/SBState'
        status:
          $ref: '#/components/schemas/SBStatus'
        tags:
          description: Open ended labels with a key value pair applied to the ad
          items:
            $ref: '#/components/schemas/SBTag'
          maxItems: 50
          minItems: 0
          type: array
      required:
      - adGroupId
      - adId
      - adProduct
      - adType
      - campaignId
      - creationDateTime
      - creative
      - lastUpdatedDateTime
      - marketplaceScope
      - marketplaces
      - name
      - state
      type: object
    SBAdAdGroupIdFilter:
      example:
        include:
        - include
        - include
        - include
        - include
        - include
      properties:
        include:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
      required:
      - include
      type: object
    SBAdAdIdFilter:
      example:
        include:
        - include
        - include
        - include
        - include
        - include
      properties:
        include:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
      required:
      - include
      type: object
    SBAdAdProductFilter:
      example:
        include:
        - null
      properties:
        include:
          description: |-
            | AdProduct | Description |
            | --- | --- |
            | `SPONSORED_BRANDS` |  |
          items:
            $ref: '#/components/schemas/SBAdProduct'
          maxItems: 1
          minItems: 1
          type: array
      required:
      - include
      type: object
    SBAdCampaignIdFilter:
      example:
        include:
        - include
        - include
        - include
        - include
        - include
      properties:
        include:
          items:
            type: string
          maxItems: 10
          minItems: 1
          type: array
      required:
      - include
      type: object
    SBAdCreate:
      example:
        adType: null
        adProduct: null
        name: name
        state: null
        adGroupId: adGroupId
        creative:
          componentCreative:
            productCollectionSettings:
              headlines:
              - headlines
              landingPage:
                landingPageType: null
                landingPageAsins:
                  asins:
                  - asins
                  - asins
                  - asins
                  - asins
                  - asins
                landingPageUrl: landingPageUrl
              creativePropertiesToOptimize:
              - null
              customImages:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brandLogos:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brand: brand
              enableCreativeAutoTranslation: true
              products:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
            productVideoSettings:
              headlines:
              - headlines
              landingPage:
                landingPageType: null
                landingPageUrl: landingPageUrl
              videos:
              - assetId: assetId
                assetVersion: assetVersion
              brandLogos:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brand: brand
              enableCreativeAutoTranslation: true
              products:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
            storeSpotlightSettings:
              cards:
              - landingPage:
                  landingPageType: null
                  landingPageUrl: landingPageUrl
                headline: headline
                products:
                  productId: productId
                  productIdType: null
              - landingPage:
                  landingPageType: null
                  landingPageUrl: landingPageUrl
                headline: headline
                products:
                  productId: productId
                  productIdType: null
              - landingPage:
                  landingPageType: null
                  landingPageUrl: landingPageUrl
                headline: headline
                products:
                  productId: productId
                  productIdType: null
              headlines:
              - headlines
              landingPage:
                landingPageType: null
                landingPageUrl: landingPageUrl
              creativePropertiesToOptimize:
              - null
              brandLogos:
              - formatProperties:
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                - top: 1
                  left: 6
                  width: 5
                  height: 0
                assetId: assetId
                assetVersion: assetVersion
              brand: brand
              enableCreativeAutoTranslation: true
            manualCollectionSettings:
              landingPage:
                landingPageType: null
                landingPageUrl: landingPageUrl
              productInclusions:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              sharedSettings:
                brandLogos:
                  formatProperties:
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  - top: 1
                    left: 6
                    width: 5
                    height: 0
                  assetId: assetId
                  assetVersion: assetVersion
                brand: brand
            autoCollectionSettings:
              productExclusions:
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
                productIdType: null
              - productId: productId
[...]
